<style>

  html{
/*  	overflow-x: hidden;
*//*  	overflow-y: hidden;
*/  }

  body{
  	background-color: #e4f9e0;
  }

  *{
  	margin: 0;
  	padding: 0;
  }
	.control{
		height: 10vh;
		width: 100%;
		background-color: #f4f2d2;
		padding-top: 5vh;
		position: relative;
	}

  .thisDayButton{
  	position: absolute;
  	top: 20px;
  	right: 100px;
  }

	.main{
		height: 81vh;
		width: 950px;
		padding-left: 20px;
		background-color: #e4f9e0;
	}

	#next{
		float: right;
		margin-right: 86%;
	}

	#next, #previous:hover{
		cursor: pointer;
	}

	#previous{
		margin-left: 20px;
	}

	.someDay{
		display: inline-block;
		width: 120px;
		height: 14.2vh;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid #adff9d;
		position: relative;
		background-color: #dffbd9;
	}

	.daysType{
		height: 10vh;
		width: 1110px;
		background-color: #e4f9e0;
		padding-left: 20px;
	}

	.dayWeak{
		display: inline-block;
		width: 120px;
		height: 10vh;
		background-color: #ccc;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid #000;
	}

	.myday{
		display: inline-block;
		width: 120px;
		height: 14.2vh;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid #adff9d;
		background-color: red;
	}

	#myForm{
		display: none;
		top: 0;
		left: 0;
		height: 170px;
		width: 120px;
		z-index: 2;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-color: #fff;
		border: 2px solid #000;
		position: absolute;	
	}

	.myEvent{
		margin-top: -20px;	
		position: relative;
	}

	.header{
		width: 95%;
		margin-top: 5px;
		margin-left: 1%;
	}

	.description{
		width: 95%;
		margin-top: 5px;
		margin-left: 1%;
		height: 60px;
	}

	#create, #clothe{
		width: 95%;
		margin-top: 5px;
		margin-left: 2%;	
	}

	#searchValue{
  	position: absolute;
  	top: 20px;
  	right: 280px;
  }

  #searchButton{
  	position: absolute;
  	top: 20px;
  	right: 230px;
  }

  i{
  	color: #8e8e8e;
  	transition: all .6s;
  }

  i:hover{
  	color: #009f3c;
  }

  .someImage{
  	position: absolute;
  	top: 0;
  	left: 200px;  	
  	height: 100%;
  	width: 100px;
  }

  img{
  	height: 15vh;
  }


